.logo ul{
    list-style: none;
}

.logo ul li{
    color: #808080;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.logo ul li:hover{
    color: white;
} 
/* GESTIONE WEB ICON */

/* FOOTER E LINK */
footer{
    color: #808080;
    background-color: #1e1818;
    padding: 20px 0px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.links ul{
    list-style: none;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.links a{
    color: #808080;
    text-decoration: none;
}
  
.links a:hover{
    text-decoration: underline;
    color: white;
}