<section id="container2">
    <div class="main-block">
        <h3>Scelto per te</h3>

        <div class="relative-block"><!--E' il blocco con le icone dei film-->

            <section class="slider">
                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/lord.webp">
                        <video src="../../assets/img/film/lord.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Fine Div Scelto per te -->

    <div class="main-block">
        <h3>Film</h3>

        <div class="relative-block">

            <section class="slider">
                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/madagascar.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/fabbrica.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/inception.webp">
                        <video src="../../assets/img/film/Inception.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/lord.webp">
                        <video src="../../assets/img/film/lord.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/dorado.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/film/justice.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/7.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/8.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/9.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>
            </section>

            <span class="next"><i></i></span>
            <span class="prev"><i></i></span>

        </div>
    </div>
    <!-- Fine Div Film -->

    <div class="main-block">
        <h3>Serie TV</h3>

        <div class="relative-block">

            <section class="slider">
                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/dark.jpg">
                        <video src="../../assets/img/serietv/Dark.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/peaky.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/bad.webp">
                        <video src="../../assets/img/serietv/Breaking Bad.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/kingdom.jpg">
                        <video src="../../assets/img/serietv/the-last-kingdom.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/umbrella.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/witcher.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/locke.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/8.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/9.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>
            </section>

            <span class="next"><i></i></span>
            <span class="prev"><i></i></span>

        </div>
    </div>
    <!-- Fine Div Serie TV -->

    <div class="main-block">
        <h3>Anime</h3>

        <div class="relative-block">

            <section class="slider">
                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/onepiece.webp">
                        <video src="../../assets/img/anime/One Piece.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/pokemon.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/sao.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/bat.webp">
                        <video src="../../assets/img/anime/BATMAN.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/inuyasha.webp">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/anime/city.webp">
                        <video src="../../assets/img/anime/City Hunter.mp4" muted autoplay></video>
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="../../assets/img/serietv/locke.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/8.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>

                <div class="box-card">
                    <div class="card">
                        <img src="img/9.jpg">
                        <aside>
                            <i class="play"></i>
                            <i class="plus"></i>
                            <i class="like"></i>
                        </aside>
                    </div>
                </div>
            </section>

            <span class="next"><i></i></span>
            <span class="prev"><i></i></span>

        </div>
    </div>
    <!-- Fine Div Anime -->