#navbar{
    background-color: #000000a4;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;


    img{
        float: left;
        height: 40px;
        padding-right: 40px;
    }

    #nav1 a{
        float: left;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        font-size: 1em;
        min-width: 5em;
    
        a:hover{
            color: #808080;
        }
    }

    #account{
        float: right;

        a:hover{
            color: #808080;
        }
    }
}