<nav id="navbar">
    <img src="../../assets/img/logo.png">

    <div id="nav1">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/film']">Film</a>
        <a [routerLink]="['/serietv']">Serie TV</a>
        <a [routerLink]="['/anime']">Anime</a>
        <a mat-button routerLink="/registrazione">Registrazione</a>
        <a mat-button routerLink="/login">Login</a>
    </div>

    <div id="account">
        <a href="#">Account</a>
        <img src="../../assets/img/account.png">
    </div>
</nav>