<header id="copertina">
    <div id="videoCopertina">
        <video autoplay muted loop>
            <source src="../../assets/img/film/Interstellar.mp4">
        </video>
    </div>

    <div id="titolo">
        <img src="../../assets/img/film/interstellar.png">
        <p class="info">In un futuro non precisato, un drastico cambiamento climatico colpisce duramente l'agricoltura.
            Il granturco è l'unica coltivazione ancora in grado di crescere ed un gruppo di scienziati è intenzionato ad
            attraversare lo spazio per trovare nuovi luoghi adatti a coltivarlo.</p>
    </div>

    <div id="bottoni">
        <button id="play"><i class="fa-solid fa-play fa-xl"></i> Riproduci</button>
        <button id="extra"><img src="../../assets/img/info.png">Altre info</button>
        <button id="volume"><img id="vol" src="../../assets/img/muto.png"></button>
    </div>
</header>